# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

bin/
init/
.vim/
.osx
.macos*
.aliases
.bash_profile
.bash_prompt
.bashrc
.curlrc
.exports
.functions
.gdbinit
.gitattributes
.gitconfig
.hgignore
.hushlogin
.inputrc
.screenrc
.wgetrc
LICENSE-MIT.txt
README.md
bootstrap.sh
brew.sh
*.vim
